* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: rgb(5, 44, 88);
  background: linear-gradient(
    90deg,
    rgb(7, 75, 153) 27%,
    rgb(12, 114, 134) 100%
  );
}

h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  padding-top: 0.8em;
}

#wrapper {
  height: 75vh;
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Todo List Display */
#tdl-box {
  text-align: center;
}
#tdl-box h2 {
  margin: 10px 0;
  color: white;
}

#todo-lists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#todo-lists li {
  margin: 15px 0;
}
#todo-lists a {
  color: white;
  margin: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 5px;
  background-color: rgb(158, 85, 255);
}

.todo-list {
  cursor: pointer;
}
#todo-lists a:hover {
  transition: 0.2s ease-in;
  background-color: rgb(156, 54, 204);
}
#new-tdl-form {
  margin-top: 20px;
}
#todo-list-form {
  margin: 0 1rem;
  max-width: 600px;
  text-align: center;
}

#todo-list-form h3 {
  font-size: 24px;
  padding: 10px;
  color: white;
}

.fa-trash {
  position: relative;
  float: right;
  top: -28px;
  right: 20px;
  color: rgb(100, 40, 40);
  cursor: pointer;
}
.fa-trash:hover {
  transition: 0.4s ease-in;
  color: rgb(180, 3, 3);
}
#new-tdl-form label,
#todo-list-form label {
  color: white;
  font-size: 18px;
}
#new-tdl-form input,
#todo-list-form input {
  position: relative;
  right: 3px;
  margin: 10px 10px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Task Display */
#task-box {
  margin: 0 1rem;
  max-width: 600px;
}

#tasks {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
#tasks span {
  background-color: #ebebeb;
  margin: 0.2rem 0;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-radius: 0;
  cursor: pointer;
}

#tasks span:hover {
  color: white;
  background-color: rgba(140, 141, 140, 0.425);
  transition: 0.4s ease-in-out;
}

.icon {
  color: rgb(81, 81, 82);
  float: right;
}
.icon:hover {
  transition: 0.35s;
  transform: rotate(90deg);
  color: red;
}
#tasks i.fa-check {
  position: relative;
  color: rgb(112, 117, 112);
  margin-right: 9px;
  float: right;
}
#tasks i.fa-check:hover {
  transition: 0.2s ease-in;
  color: rgb(8, 179, 8);
}

#back-arrow {
  position: relative;
  top: 40px;
  right: 150px;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(247, 129, 51);
}
#back-arrow:hover {
  transition: 0.4s ease-in;
  color: rgba(199, 103, 40, 0.801);
}
.btn {
  background-color: #1b8b1e;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  transition: ease-in 0.4s;
  background-color: #3d9b40;
}

.hidden {
  display: none;
}

.clicked {
  background-color: green;
}

/* Media Queries*/
/* @media screen and (max-width: 650px) {
  #wrapper {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }
} */
