* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#entry-form,
#todo-lists {
  padding: 1rem;
}

#entry-form {
  min-height: 200px;
}
#todo-lists li {
  list-style: none;
}
#todo-lists li a {
  font-size: 18px;
}

#new-tdl-form label,
#todo-list-form label {
  font-size: 18px;
}
#new-tdl-form input,
#todo-list-form input {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  transition: ease-in 0.4s;
  background-color: #3d9b40;
}

.hidden {
  display: none;
}

/* Todo List Display */
#tdl-box {
  background-color: lightcoral;
  min-height: 200px;
}

.todo-list {
  cursor: pointer;
}

/* Task Display */
#task-box {
  margin: auto;
  width: 500px;
}
#tasks {
  display: flex;
  flex-direction: column;
  /* background-color: lightblue; */
  padding: 0.3rem;
}
#tasks span {
  background-color: #ebebeb;
  margin: 0.2rem 0;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-radius: 0;
  cursor: pointer;
}

#tasks span:hover {
  background-color: rgba(140, 141, 140, 0.425);
  transition: 0.4s ease-in-out;
}
.icon {
  color: rgb(81, 81, 82);
  float: right;
}
.icon:hover {
  transition: 0.35s;
  transform: rotate(90deg);
  color: red;
}

.clicked {
  background-color: green;
}

/* Media Queries*/
@media screen and (max-width: 650px) {
  #wrapper {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }
}
